.rightbar {
    overflow-y: scroll; 
    scrollbar-width: none; 
  }
  
  .rightbar::-webkit-scrollbar {
    display: none; 
  }
  
  .rightbar-box{
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 20px;
    background-color: themed("bg");
  }